<IfModule mod_ssl.c>
  <VirtualHost _default_:443>
    ServerAdmin {{ apache_server_admin }}

    DocumentRoot /var/www/drupal

    LogLevel error ssl:error

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    SSLEngine on

    SSLCertificateFile  /etc/ssl/certs/ssl-cert-snakeoil.pem
    SSLCertificateKeyFile /etc/ssl/private/ssl-cert-snakeoil.key

    <FilesMatch "\.(cgi|shtml|phtml|php)$">
        SSLOptions +StdEnvVars
    </FilesMatch>

    <Directory "/var/www/drupal">
        Options +FollowSymLinks -Indexes
        AllowOverride None
        # Letting Apache search every directory is sloppy and slow.
        Include /var/www/drupal/.htaccess
    </Directory>
    <Directory "/var/www/drupal/sites/default/files">
        Options +FollowSymLinks -Indexes
        AllowOverride None
        # Letting Apache search every directory is sloppy and slow.
        Include /var/www/drupal/sites/default/files/.htaccess
    </Directory>

    BrowserMatch "MSIE [2-6]" \
        nokeepalive ssl-unclean-shutdown \
        downgrade-1.0 force-response-1.0
    BrowserMatch "MSIE [17-9]" ssl-unclean-shutdown

  </VirtualHost>
  SSLProtocol -all +TLSv1.2
  SSLHonorCipherOrder On
  SSLCipherSuite HIGH:!CAMELLIA:!SEED:!aNULL:!DH:!SSLv2:!MD5:!RC4:@STRENGTH
  Header always set Strict-Transport-Security "max-age=15768000"
</IfModule>
